* {margin: 0; padding: 0;}
#contacts {
    /* margin: auto; */
    align-content: center;
    width:25%; 
    font-size: 0;}
/* #up{ */
    /* margin: 5em; */
    /* height: 15em; */
    /* float: left; */
/* } */
/* #post-content {
    margin-left: 5em 
} */


#profiles {
    height: 60px;
    vertical-align: top;
    /* margin-left: 5em; */
}

#item {
    /* float: left; */
    /* vertical-align: top; */
    margin-right: 1em;
    margin-left: 1em;
}
/* #tel {
    float: left;
    margin-left: 4.7em; 
} */

.item {
    margin-bottom: 1em;
}

/* #img{
    float: right;
    margin-right: 25em;
    max-width: 15%;
} */
#img{
    height: 200px;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}
#bio {
    background-color:rgba(211, 211, 211, 0.338);
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}
#lista{
    margin-left: 3em
}
#pag{
    margin: 5em;    
}
#up{
    margin-bottom: 2em
}
#dev{
    margin-top: 2em;
    line-height: 5px;
}
